<table border="0" style="padding: 15px; margin-top: 100px; width: 100%;">
  <tr>
    <td>
      <div>
        <table border="0" style="width: 100%;letter-spacing: 3px;">
          <tr>
            <td><b>Name:</b></td>
            <td>Vishal Nikam</td>
          </tr>
          <tr>
            <td><b>PRN:</b></td>
            <td>190840820109</td>
          </tr>
          <tr>
            <td><b>Course:</b></td>
            <td>PG-DAC</td>
          </tr>
          <tr>
            <td><b>Mobile:</b></td>
            <td>9823311890</td>
          </tr>
          <tr>
            <td><b>Email:</b></td>
            <td>vishalvilasnikam1996@gmail.com</td>
          </tr>
        </table>
      </div>

    </td>
    <td>
      <div>
        <table border="0" style="width: 100%;letter-spacing: 3px;">
          <tr>
            <td><b>Name:</b></td>
            <td>Pratik More</td>
          </tr>
          <tr>
            <td><b>PRN:</b></td>
            <td>190840820045</td>
          </tr>
          <tr>
            <td><b>Course:</b></td>
            <td>PG-DAC</td>
          </tr>
          <tr>
            <td><b>Mobile:</b></td>
            <td>7758077702</td>
          </tr>
          <tr>
            <td><b>Email:</b></td>
            <td>morepratik111@gmail.com</td>
          </tr>
        </table>
      </div>

    </td>
  </tr>
</table>