
<div style="width: 50%;">
<div class="container">
<h2>Users List</h2>
<table class="table table-bordered table-hover" id="list-table" style="width: 80%;">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Online Status</th>
      <th>Phone</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let m of users">
      <td>{{m.UserId}}</td>
      <td>{{m.Name}}</td>
      <td>{{m.EmailId}}</td>
      <td>{{m.IsOnline}}</td>
      <td>{{m.MobileNo}}</td>
      <td style="width: 100px">
      <button (click)="deleteUser(m.UserId)" type="button" class="btn btn-large btn-block btn-danger">Delete</button>
      </td>
    </tr> 
  </tbody>
</table>

</div>
</div>