<body>
  <br>

  <div>
    <div class="container" style="text-align: center">
      <table style="width: 100%;" border="0">
        <tr>
          <td>
            <img src="/assets/Metro_Logo.jpg" alt="MetroLogo" style="width: 100px; height: 120px;">
          </td>
          <td>
            <h1>Welcome to Online Metro Booking</h1>
          </td>
        </tr>
      </table>     
    </div>
    <table border="0" style="margin-left: 10%;"> 
      <tr>
        <td>
          <form action="action_page.php">
            <div class="container" style="width: 500px;">
              <h1 >Book</h1 >
              <h2>Your Journey..!</h2>
              <hr>
          
              <label for="from"><b>From</b></label>
              <input type="text" placeholder="Start Station" name="from" required>
          
              <label for="to"><b>To</b></label>
              <input type="text" placeholder="End Station" name="to" required>
      
              <button type="submit" class="registerbtn">View Details</button>
            </div>
          </form>

        </td>
        <td>
          <div class="zoomin">
            <img src="/assets/pune_map.jpg"  title="All you need to know about CSS Transitions " />
          </div>
        </td>
      </tr>
    </table>

  </div>
</body>